
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Илья Резников</h1>
<a href='https://github.com/Ilya-Reznikov60/'> Ссылка на мой аккаунт Github </a>
<p>
    В бэкенд разработке я новичок. На некоторых этапах программирования
   бывает довольно не просто, но все сложности предолеваются целью. 
   У меня есть цель - стать хорошим специалистом в этой области. 
   Мне очень интересно разбираться во всём этом, несмотря на то, что
   я постоянно сталкиваюсь с трудностями.
    Благодаря цели я иду вперёд, и это как я считаю лучшая мотивация
</p>
{% endblock %}